.hero-about{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/hero-img-2.png');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    width: 90%;
    height: 111px;
    border-radius: 10px;
    margin-bottom: 20px;
}