@keyframes slideRight {
  from {
    transform: translateX(60px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(-60px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.carrousel .carrousel-img {
  width: 90%;
  height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.carrousel .carrousel-img.right {
  animation: slideRight 0.5s ease-out;
}
.carrousel .carrousel-img.left {
  animation: slideLeft 0.5s ease-out;
}
@media (min-width: 1200px) {
  .carrousel .carrousel-img {
    height: 415px;
  }
}
.carrousel .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}
@media (min-width: 1200px) {
  .carrousel .arrow {
    height: 70px;
  }
}
.carrousel .arrow-left {
  left: 7%;
}
.carrousel .arrow-right {
  right: 7%;
}
.carrousel .carrousel-index {
  position: absolute;
  bottom: 10px;
  right: 45%;
  color: white;
  font-size: 12px;
}
@media (min-width: 1200px) {
  .carrousel .carrousel-index {
    font-size: 18px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 20px;
  color: #FF6060;
  gap: 20px;
}
@media (min-width: 1200px) {
  .info {
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 20px;
  }
}

.info-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 5%;
}
.info-left .info-title {
  font-size: 18px;
  font-weight: 500;
}
.info-left .info-location {
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.info-left .tags {
  display: flex;
  gap: 10px;
}
.info-left .tags .tag {
  background-color: #FF6060;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: bold;
}
@media (min-width: 1200px) {
  .info-left .info-title {
    font-size: 36px;
  }
  .info-left .info-location {
    font-size: 18px;
  }
  .info-left .tag {
    font-size: 14px;
  }
}

.info-right {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.info-right .host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.info-right .host .host-name {
  font-size: 12px;
  font-weight: 500;
}
.info-right .host .host-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.info-right .rating {
  display: flex;
  gap: 6px;
}
.info-right .rating .star {
  font-size: 18px;
}
.info-right .rating .star.active {
  color: #FF6060;
}
.info-right .rating .star.inactive {
  color: #f6f6f6;
}
@media (min-width: 1200px) {
  .info-right {
    flex-direction: column;
  }
  .info-right .host .host-name {
    font-size: 18px;
  }
  .info-right .host .host-picture {
    width: 64px;
    height: 64px;
  }
  .info-right .rating .star {
    font-size: 24px;
  }
}

.accordions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .accordions {
    margin: 0 auto;
    width: 90%;
    flex-direction: row;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=Logement.css.map */