.carrousel{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    .carrousel-img{
        width: 90%;
        height: 255px;
        object-fit: cover;
        border-radius: 10px;
    }
    .arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        color: white;
        padding: 10px;
        cursor: pointer;
        z-index: 1;
    }
    .arrow-left{
        left: 7%;
    }
    .arrow-right{
        right: 7%;
    }
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 20px;
    color: #FF6060;
    gap: 15px;
}

.info-left{
    display: flex;
    flex-direction: column;
    gap: 12px;
    .info-title{
        font-size: 18px;
        font-weight: 500;
    }
    .info-location{
        font-size: 14px;
        font-weight: 500;
        color: black;
    }
    .tags{
        display: flex;
        gap: 10px;
        .tag{
            background-color: #FF6060;
            color: white;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 10px;
            font-weight: bold;
        }
    }
}
.info-right{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    .host{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        .host-name{
            font-size: 12px;
            font-weight: 500;
        }
        .host-picture{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .rating{
        display: flex;
        gap: 6px;

        .star{
            width: 18px;
            height: 18px;
            &.active{
                color: #FF6060;
            }
            &.inactive{
                color: #f6f6f6;
            }
        }
    }
}

.accordions{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}