.accordion {
    width: 90%;
    margin: 0 auto;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #FF6060;
        color: white;
        font-weight: 700;
        font-size: 13px;
        border-radius: 5px;
        cursor: pointer;
        i {
            font-size: 20px;
            cursor: pointer;
            transition: transform 0.3s ease-out;

            &.rotate {
                transform: rotate(-180deg);
            }
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-size: 13px;
        padding: 10px;
        background-color: #f6f6f6;
        transition: margin-bottom 0.4s ease-out;
        border-radius: 5px;
        overflow: hidden;
        &.open{
            animation: slideDown 0.3s ease-out forwards;
            margin-bottom: 30px;
        }
        &.closed {
            max-height: 0;
            opacity: 0;
            margin-bottom: 0;
        }
        &.closing {
            animation: slideUp 0.3s ease-out forwards;
            margin-bottom: 0;
        }
    }

    @media (min-width: 1200px) {
        max-width: 1023px;
        margin: 0 auto;

        &__header {
            padding: 20px;
            font-size: 18px;
            i{
                font-size: 24px; 
            }
        }
        &__content {
            font-size: 18px;
            padding: 20px;
            &.closed {
                margin-bottom: -20px;
            }
            &.closing {
                margin-bottom: -20px;
            }
        }
    }
}

@keyframes slideDown {
    from {
        max-height: 0;  
        opacity: 0;
    }
    to {
        max-height: 300px;
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        max-height: 300px;
        opacity: 1;
    }
    to {
        max-height: 0;
        opacity: 0;
    }
}