.accordion {
    width: 90%;
    margin: 0 auto;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #FF6060;
        color: white;
        font-weight: 700;
        font-size: 13px;
        border-radius: 5px;
        cursor: pointer;
        i {
            font-size: 20px;
            cursor: pointer;
            transition: transform 0.3s ease-out;

            &.rotate {
                transform: rotate(180deg);
            }
        }
        @media (min-width: 1200px) {
            .header {
                padding: 5px;
                font-size: 18px;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: left;
        font-size: 13px;
        padding: 10px;
        transition: margin-bottom 0.4s ease-out;
        border-radius: 5px;
        overflow: hidden;
        color: black;
        opacity: 0;
        max-height: 0;
        transition: all 0.5s ease-out;
        &.open{
            transition: all 0.5s ease-out;
            opacity: 1;
            margin-bottom: 20px;
            max-height: 300px;
        }
    }

    @media (min-width: 1200px) {
        max-width: 1023px;
        margin: 0 auto;
        &__header {
            padding: 14px;
            font-size: 18px;
            i{
                font-size: 24px; 
            }
        }
        &__content {
            font-size: 18px;
            padding: 14px;
        }
    }
}