.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 80px;
}
.error__title {
  font-size: 96px;
  line-height: 143%;
  color: #FF6060;
}
.error__text {
  font-size: 18px;
  text-align: center;
  line-height: 143%;
  font-weight: 500;
  color: #FF6060;
  width: 300px;
}
.error__link {
  font-size: 18px;
  line-height: 143%;
  color: #000;
  text-decoration: underline;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .error {
    gap: 35px;
  }
  .error__title {
    font-size: 288px;
  }
  .error__text {
    font-size: 36px;
    width: auto;
    margin-bottom: 85px;
  }
  .error__link {
    margin-bottom: 85px;
  }
}